In [2]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [5]:
df[df['행복랭킹'] == 10].점수.mean()

np.float64(7.259)

In [9]:
df[df['행복랭킹'] <= 50][['년도','점수']].groupby('년도').mean()

           점수
년도
2018  6.64678
2019  6.67002

In [19]:
df[df['년도'] == 2018][['점수','부패에 대한인식']].corr().iloc[0,1]

np.float64(0.40529152271510027)

In [38]:
len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())

15