In [2]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [13]:
df.groupby('Country')[['Goals']].sum().sort_values('Goals',ascending=False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [26]:
df.groupby('Country').size().sort_values(ascending=False).head()

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [30]:
df['split'] = df['Years'].str.split('-')

def check(x):
    for year in x:
        if len(str(year)) != 4:
            return False
    return True
len(df[df['split'].apply(check) == False])

45

In [35]:
df2 = df[df['split'].apply(check) == True]
df2.shape[0]

1250

In [57]:
df2['LenCup'] = df2['split'].str.len()
df2['LenCup'].value_counts()[4]

C:\Users\leeyj\AppData\Local\Temp\ipykernel_15552\2497262911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['split'].str.len()

np.int64(16)

In [69]:
len(df2[(df2['Country'] =='Yugoslavia') & (df2['LenCup'] == 2)])

7

In [79]:
df2[df2['Years'].str.contains('2002')].Player.value_counts().sum()

np.int64(156)

In [90]:
len(df2[df2['Player'].str.lower().str.contains('carlos')])

13

In [97]:
df2[df2['LenCup'] == 1].sort_values('Goals',ascending=Fale

          Player  Goals Years Country   split  LenCup
3  Just Fontaine     13  1958  France  [1958]       1