In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [2]:
list(df[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())

['Ïû•ÏÇêÏ≠à',
 'Ï¥ùÎ™áÎ™Ö',
 'ÌååÎøåÎ¶¨',
 'Ïß§Ìà∞',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'SPOTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'BANGTANTV']

In [3]:
list(df[df['dislikes'] > df['likes']].channelTitle.unique())

['Ìï´ÎèÑÍ∑∏TV',
 'ASMR Ïï†Ï†ïTV',
 'ÌïòÏñÄÌä∏Î¶¨HayanTree',
 'ÏñëÌå° YangPang',
 'Ï≤†Íµ¨Ìòï (CHULTUBE)',
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§',
 '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä',
 'Ïò§Î©îÌÇ¥TV',
 'Ïú°ÏßÄÎã¥',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO',
 'Gen.G esports']

In [4]:
cnt = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
len(cnt[cnt > 1])

71

In [5]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])##ÎÇ†Ïßú Îç∞Ïù¥ÌÑ∞Îäî Î≥ÄÍ≤ΩÌï¥Ï£ºÍ∏∞
df[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]

24

In [6]:
df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size().pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [8]:
zero = df.loc[df.view_count!=0]
df_copy = zero.copy()
df_copy['ratio'] = (zero['comment_count']/zero['view_count']).dropna()
result = df_copy.sort_values(by='ratio', ascending=False).iloc[0].title
print(result)

60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)

In [16]:
res = (df['comment_count']/df['view_count']).dropna().sort_values()
res[res != 0].index[0]

result= df.iloc[ratio[ratio!=0].index[0]].title
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [31]:
res=df[(df['likes'] !=0) & (df['dislikes'] !=0)]
num=(res['dislikes']/res['likes']).sort_values().index[0]
df.iloc[num].title

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [39]:
########################
df[df['channelId'] == df['channelId'].value_counts().index[0]].channelTitle.unique()[0]

'Ïß§Ìà∞'

In [45]:
(df[['title','channelId']].value_counts()>=20).sum()

40