In [1]:
#데이터 설명 : 이직여부 판단 데이터 (target: 1: 이직 , 0 : 이직 x)

In [2]:
import pandas as pd
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")


display(x_train.head())
display(y_train.head())

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [3]:
# print(x_train.nunique())
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [4]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  12452 non-null  int64
 1   target       12452 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 194.7 KB

In [5]:
print(x_train.isna().sum())
print()
print(x_test.isna().sum())

enrollee_id                  0
city                         0
city_development_index       0
gender                    2917
relevent_experience          0
enrolled_university        257
education_level            315
major_discipline          1866
experience                  37
company_size              3852
company_type              3981
last_new_job               273
training_hours               0
dtype: int64

enrollee_id                  0
city                         0
city_development_index       0
gender                    1591
relevent_experience          0
enrolled_university        129
education_level            145
major_discipline           947
experience                  28
company_size              2086
company_type              2159
last_new_job               150
training_hours               0
dtype: int64

In [6]:
#결측치 처리 => 최빈값 or Unknown
# x_train
missing_data = x_train.isna().sum()
missing_percentage = (missing_data / len(x_train)) * 100
print(pd.DataFrame({'결측치': missing_data, '비율': missing_percentage}))

#company_size company_type gender
x_train['company_size'] = x_train['company_size'].fillna('Unknown')
x_train['company_type'] = x_train['company_type'].fillna('Unknown')
x_train['gender'] = x_train['gender'].fillna('Unknown')

x_test['company_size'] = x_test['company_size'].fillna('Unknown')
x_test['company_type'] = x_test['company_type'].fillna('Unknown')
x_test['gender'] = x_test['gender'].fillna('Unknown')

                         결측치         비율
enrollee_id                0   0.000000
city                       0   0.000000
city_development_index     0   0.000000
gender                  2917  23.425956
relevent_experience        0   0.000000
enrolled_university      257   2.063925
education_level          315   2.529714
major_discipline        1866  14.985544
experience                37   0.297141
company_size            3852  30.934790
company_type            3981  31.970768
last_new_job             273   2.192419
training_hours             0   0.000000

In [7]:
x_train_drop = x_train.drop(columns = ['enrollee_id','city'])
x_test_drop = x_test.drop(columns = ['enrollee_id','city'])

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

y=y_train.target.astype('int')

In [9]:
#데이터 분리
x_train, x_val, y_train, y_val = train_test_split(x_train_dummies, y, test_size=0.3, random_state=42)

# 모델 학습
rf = RandomForestClassifier(random_state=23)
rf.fit(x_train,y_train)

RandomForestClassifier(random_state=23)

In [10]:
from sklearn.metrics import accuracy_score

#model_score
predict_train_label = rf.predict(x_train)
predict_train_proba = rf.predict_proba(x_train)[:,1]

predict_validation_label = rf.predict(x_val)
predict_validation_prob = rf.predict_proba(x_val)[:,1]

In [11]:
print('train accuracy :', accuracy_score(y_train,predict_train_label))
print('validation accuracy :', accuracy_score(y_val,predict_validation_label))

train accuracy : 0.9988526847177605
validation accuracy : 0.7826552462526767

In [15]:
predict_test_label = rf.predict(x_test_dummies)
predict_test_proba = rf.predict_proba(x_test_dummies)[:,1]

pd.DataFrame({'ID': x_test.enrollee_id, 'target': predict_test_label}).to_csv('result.csv',index=False)