데이터 설명 : 중고차 가격 예측 데이터 (종속변수 :G3)

In [1]:
import pandas as pd
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")

In [2]:
display(x_train.head())
display(y_train.head())

print(x_train.info())
print(x_test.info())

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         4960 non-null   int64
 1   brand         4960 non-null   object
 2   model         4960 non-null   object
 3   year          4960 non-null   int64
 4   transmission  4960 non-null   object
 5   mileage       4960 non-null   int64
 6   fuelType      4960 non-null   object
 7   tax           4960 non-null   float64
 8   mpg           4960 non-null   float64
 9   engineSize    4960 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 387.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2672 entries, 0 to 2671
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         2672 non-null   int64
 1   brand         2672 non-null   object
 2   model         2672 non-null   object
 3   year          2672 non-null   int64
 4   transmission  2672 non-null   object
 5   mileage       2672 non-null   int64
 6   fuelType      2672 non-null   object
 7   tax           2672 non-null   float64
 8   mpg           2672 non-null   float64
 9   engineSize    2672 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 208.9+ KB
None

In [3]:
# print(x_train.isna().sum())
# print(x_test.isna().sum())
# print(x_train.nunique())

In [4]:
x_train_drop = x_train.drop(columns=['carID'])
x_test_drop = x_test.drop(columns=['carID'])
y = y_train['price']

x_train_dum = pd.get_dummies(x_train_drop)
# x_test_dum = x_test_dum[x_train_dum.columns]
# 현재 x_train에는 있으나 test에 없는 칼럼 존재 -> x_train에서 해당 칼럼은 0으로 채우고, 칼럼 지정

x_test_dum = pd.get_dummies(x_test_drop)
x_test_dum = x_test_dum.reindex(columns=x_train_dum.columns, fill_value=0)

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

x_train, x_val, y_train, y_val = train_test_split(x_train_dum, y, test_size=0.3, random_state=22)
rf = RandomForestRegressor(random_state=12)
rf.fit(x_train, y_train)

predict= rf.predict(x_train)

In [6]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

print('mse', mean_squared_error(y_train, predict))
print('mae', mean_absolute_error(y_train, predict))
print('mape', mean_absolute_percentage_error(y_train, predict))
print('rmse', mean_absolute_percentage_error(y_train, predict)**.5)
print('r2',r2_score(y_train, predict)**.5)

mse 1994278.5334263397
mae 761.0074961200474
mape 0.03720189532996269
rmse 0.1928779285713186
r2 0.9962601335626786

In [7]:
predict_test = rf.predict(x_test_dum)

pd.DataFrame({
    'carID': x_test['carID'],
    'price': predict_test
}).to_csv('result.csv',index=False)